img {
    max-height: 200px;
}

.albumList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 50%;
}


.album {
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

fieldset {
    margin: 0.5rem 0;
    padding: 0.5rem;
}