.artclip {
    max-height: 200px;
}

h1{
    font-size: 37px;
}

h2{
    font-size: 25px;
}

.albumList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.album__name {
    text-decoration: none;
    text-align: center;
}

.album {
    flex-basis: 20%;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    margin: 0.5rem 0;
    padding: 0.5rem;
}
.details{
    display: flex;
}
.trackAlb {
    display: flex;
    flex-basis: 40%;
}

.albArt {
    max-height: 350px;
    max-width: 350px;
    margin-top: 20px;
    margin-left: 20px
}
.trackList{
    margin-top: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    border: 1px solid white;
    background-color: dimgrey;
}

.artclip {
    width: 45px;
    padding-left: 10px;
}

.iconm {
    display: flex;
}
.button1 {
    display: inline-block ;
    padding: .35em 1.2em;
    margin: 1px;
    border: 3px solid #FFFFFF;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto',sans-serif;
    font-weight:bolder;
    background: transparent;
    text-align:center;
    transition: all 0.2s;
    color: white;
}

.button2 {
    display: inline-block ;
    padding: .35em 1.2em;
    margin: 1px;
    border: 3px solid #FFFFFF;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto',sans-serif;
    font-weight:bolder;
    background: transparent;
    text-align:center;
    transition: all 0.2s;
    color: white;
}

a.but:hover {
    color: white;
    background-color:black;
}


@media all and (max-width:30em){
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

.tracks {
    list-style: none;
}

.singleTrack {
    margin-bottom: 5px;
}



/* .albumSec {
    display: flex;
}

.mainAlbSec {
    justify-content: 75%;

}

.wishAlbSec {
    display: flex;
    flex-direction: column;
    justify-content: 25%;


} */

